---
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX Launches 🚀
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Get the latest information on SpaceX launches.
    </p>
  </div>

  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton class="text-white" href="/">Latest launches</HeaderButton>
    <HeaderButton class="text-white" href="/about"
      >About the project</HeaderButton
    >
    <HeaderButton class="text-white" href="/oldest"
      >Previous launches</HeaderButton
    >
  </nav>
</header>
